html, body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'raleway';
}

a{
  text-decoration: none;
}

.container{
  width:100%;
  display: flex;
  flex-direction: column;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  background-color: #232424;
  color: white;
}

.logo{
  font-weight: bold;
  font-size: 30px;
  color: #70D295;
}

.links{
  width: 20%;
}

.links ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 5px;
}

.links ul li{
  padding: 5px;
  transition: 500ms;
}

.links ul li:hover{
  cursor: pointer;
  background-color: #70D295;
  color: #3E4242;
  transition: 500ms;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0 100px;
  background-color: #353635;
}

.noticiaDestaque{
  display: flex;
  flex-direction: row;
  padding: 10px 0 5px 0;
}

.noticiaDestaque h1{
  color: #70D295;
}

.noticiaDestaque p{
  font-weight: 600;
  color: #C9F2CF;
  width: 90%;
}

.destaqueTitulo{
  text-decoration: none;
  color: #70D295;
}

.destaqueTitle{
  background-color: #70D295;
  color: white;
  width: 100%;
  padding: 30px 0;
  text-align: center;
  letter-spacing: 1px;
  font-size: 30px;
}

.imagem{
width: 500px; 
}

.noticia{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #70D295;
}

.noticia h1{
  color: #70D295;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.noticia p{
  color: #C9F2CF;
  padding: 0 30px;
  font-size: 26px; 
}

.noticiasTitle{
  background-color: #70D295;
  color: white;
  width: 100%;
  padding: 30px 0;
  text-align: center;
  letter-spacing: 1px;
  font-size: 30px; 
}

footer{
  background-color:#70D295;
  color: white;
  text-align: center;
  font-size: 12px;
}